In [32]:
import pandas as pd
from nba_api.stats.endpoints import playercareerstats

from nba_api.stats.endpoints import playerawards

In [95]:
#end 78654, start 76001

player_list = []

for player in player_id(76001,78654):
    career = playercareerstats.PlayerCareerStats(player_id)
    career_df = career.get_data_frames()[0]
    career_df

NameError: name 'player_id' is not defined

In [39]:
# awards = playerawards.PlayerAwards(player_id='76001')
# awards_df = awards.get_data_frames()[0]
# awards_df

In [56]:
career_df = career_df.drop(columns=['LEAGUE_ID', 'TEAM_ID', 'PLAYER_AGE'], axis=1)
career_df

,PLAYER_ID,SEASON_ID,TEAM_ABBREVIATION,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,76001,1990-91,POR,43,0,290.0,55,116,0.474,0,...,0.568,27,62,89,12,4,12,22,39,135
1,76001,1991-92,POR,71,1,934.0,178,361,0.493,0,...,0.752,81,179,260,30,25,16,66,132,432
2,76001,1992-93,MIL,12,0,159.0,26,56,0.464,0,...,0.750,12,25,37,10,6,4,13,24,64
3,76001,1992-93,BOS,63,52,1152.0,219,417,0.525,0,...,0.760,114,186,300,17,19,22,84,165,514
4,76001,1992-93,TOT,75,52,1311.0,245,473,0.518,0,...,0.759,126,211,337,27,25,26,97,189,578
5,76001,1993-94,BOS,13,0,159.0,24,55,0.436,0,...,0.640,12,34,46,3,2,3,17,20,64
6,76001,1994-95,SAC,51,0,476.0,117,220,0.532,0,...,0.571,34,72,106,13,15,12,40,102,254
7,76001,1994-95,PHL,3,0,30.0,1,11,0.091,0,...,0.000,3,5,8,0,0,0,5,2,2
8,76001,1994-95,TOT,54,0,506.0,118,231,0.511,0,...,0.571,37,77,114,13,15,12,45,104,256

In [57]:
career_df = career_df.rename(columns={"PLAYER_ID": "player_id",
                                    "SEASON_ID": "season_id",
                                    "TEAM_ABBREVIATION": "team_id"
                                     }).dropna(how='all')
career_df.head()

,player_id,season_id,team_id,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,76001,1990-91,POR,43,0,290.0,55,116,0.474,0,...,0.568,27,62,89,12,4,12,22,39,135
1,76001,1991-92,POR,71,1,934.0,178,361,0.493,0,...,0.752,81,179,260,30,25,16,66,132,432
2,76001,1992-93,MIL,12,0,159.0,26,56,0.464,0,...,0.750,12,25,37,10,6,4,13,24,64
3,76001,1992-93,BOS,63,52,1152.0,219,417,0.525,0,...,0.760,114,186,300,17,19,22,84,165,514
4,76001,1992-93,TOT,75,52,1311.0,245,473,0.518,0,...,0.759,126,211,337,27,25,26,97,189,578

In [58]:
career_df.columns

Index(['player_id', 'season_id', 'team_id', 'GP', 'GS', 'MIN', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [60]:
career_df = career_df.astype({"player_id": int,
                                    "season_id": str,
                                    "team_id": str,
                                    "GP": float,
                                    "GS": float,
                                    "MIN": float,
                                    "FGM": float,
                                    "FGA": float,
                                    "FG_PCT": float,
                                    "FG3M": float,
                                    "FG3A": float,
                                    "FG3_PCT": float,
                                    "FTM": float,
                                    "FTA": float,
                                    "FT_PCT": float,
                                    "OREB": float,
                                    "DREB": float,
                                    "REB": float,
                                    "AST": float,
                                    "STL": float,
                                    "BLK": float,
                                    "TOV": float,
                                    "PF": float,
                                    "PTS": float}, errors="ignore")
career_df.dtypes

player_id      int32
season_id     object
team_id       object
GP           float64
GS           float64
MIN          float64
FGM          float64
FGA          float64
FG_PCT       float64
FG3M         float64
FG3A         float64
FG3_PCT      float64
FTM          float64
FTA          float64
FT_PCT       float64
OREB         float64
DREB         float64
REB          float64
AST          float64
STL          float64
BLK          float64
TOV          float64
PF           float64
PTS          float64
dtype: object

NameError: name 'PlayerScope' is not defined

In [61]:
player_list = []

for i, row in playercareerstats.iterrows():
    career = playercareerstats.PlayerCareerStats(player_id=row['PLAYER_ID'])
    career.get_data_frames()
    print(player_list)

AttributeError: module 'nba_api.stats.endpoints.playercareerstats' has no attribute 'iterrows'